
rect {
    fill: lightgray;
    stroke: darkgray;
    stroke-width: 2px
}

.axis{
    pointer-events: none;
}
.axis path {
    display: none;
}
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.axis text{
    font-family: sans-serif;
    font-size:11px;
    text-anchor: end;
}

.axis-label {
    font-size: 11px;
}

line#limit {
    stroke: #FED966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.grid path {
    stroke-width: 5;
    stroke-opacity: 0.2;
}

.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.2;
}

select {
    display: block;
}

#y-axis.axis .domain {
    display: none;
}