.background {
    fill: none;
    pointer-events: all;
}
body{
  background-color: #2a3039
}
text{
  color: white;
}
.legendtext{
  fill: white;
}
#states {
    fill: #aaa;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}


.state:hover {
    fill: orange;
}

.bars:hover {
    fill: orange;
}
.selected{
    fill: orange;
}
.mapChart{
    float:left;
    width:900px;
    height:500px;
}
.bar-plot{
    float:left;
}
.lineChart{
    margin-left: 1000px
}
.lines{
    opacity: 0.3;
}
.selectedPath{
    stroke:red;
    stroke-width:3;
    opacity: 1;
}
.linespace{
    stroke:white;
    stroke-dasharray: 2 2;
    opacity: 0.5;

}

.mapline{
    display: flex;
    align-items: stretch;
}
@font-face{
  font-family: capture;
  src: url("Capture it.ttf");
}
.headline{
  font-family: capture;
  color:white;
  font-size: 50px;
}
.author{
  color:white;
  font-size: 30px;
}
.activeYear-background {
    fill:white;
    font-size: 50px;
    opacity: .4;
}
.parameter-value{
  fill:red;
}
.btn-diy {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
body{
     /*background:#2a3039;*/
    /*background: #29303A;
    font-family: 'Lato', sans-serif; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



div.dropdown-wrapper {
    display: inline-block;
    margin-left: 75px;
    width: 320px;
    height: 130px;
    padding: 2px;
}

.dropdown {
    float: left;
}

.c-color,
.y-label,
.x-label,
.c-label {
    width: 1%7;
    display: inline-block;
    float: left;
    padding-right: 5px;
}


/*dropdown menu*/

.select-selected {
    background-color: DodgerBlue;
}

.circle-legend {
    width: 200px;
    height: 120px;
    padding-right: 20px;
    margin: auto;
    display: inline-block;
    float: left;
}

.circle-legend svg {
    width: 100%;
    height: 90%;
}

.circle-legend text {
    font-size: 11px;
}

.circle-legend .label {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
}

.circle-legend .subLabel {
    font-size: 11px;
    font-weight: bold;
}

.circle-size-text{
  fill:white;
}

.bubbles {
    fill: #d9d9d9;
    stroke: white;
    opacity: .8;
}





path.hidden {
    opacity: .4;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: 450px;
    height: 240px;
    padding: 6px;
    margin-top: -5px;
    font: 10px Didot;
    background: white;
    pointer-events: none;
    stroke: black;
    font-weight: bold;
    line-height: 1.2;
}

.legendtext{
    font-size:10px;
}

.bubbles:hover{
    stroke: red;
    stroke-width:3;
    fill:orange;
}

.overlay_dup {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(194, 190, 190);
  background-color: rgba(194, 190, 190, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 8%;
  left: 20%;
  /* width: 10%;  */
  text-align: center;
  margin-top: 30px;
}

.overlay text {
  padding: 8px;
  text-decoration: none;
  font-size: 24pt;
  color: #1a1010;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.selectedBubble{
    stroke: red;
    stroke-width:3;
    fill:orange;
}

